/* Styles for screens with a maximum width of 600px */
@media (max-width: 600px) {
    /* CSS rules for mobile devices */
}

header {
    /* background-color: pink; */
    font-size: 20px;
    font-family: fantasy;
    border: 1px;
    color: mediumpurple;
}

footer {
    background-color: darkseagreen;
    font-size: 20px;
    font-family: fantasy;
}

body {
    background-color: lightsalmon;
    max-width: 600px;
}

label {
    background-color: orchid;
    border: 2px solid;
    border-radius: 10px;
    font-size: 28px;
    font-family: fantasy;
    margin-left: 15%;
    width: 100px;
    padding: 5px;
    height: fit-content;
}

input {
    border-radius: 20px;
    background-color: pink;
    width: 300px;
    margin-left: 15%;
    height: 30px;
}

nav {
    font-size: 20px;
    font-family: fantasy;
}

hr {
    background-color: darkkhaki;
    border: 2px;
}

.button {
    background-color: darkseagreen;
    font-size: 28px;
    font-family: fantasy;
    height: fit-content;
    width: 150px;
    padding: 5px;

}

.button1 {
    background-color: tomato;
    font-size: 28px;
    font-family: fantasy;
    height: fit-content;
    width: 150px;
    padding: 5px;

}

h1 {
    font-family: fantasy;
    margin-left: 20%;
    color: purple;
    background-color: pink;
    background-size: auto;
    width: 250px;
    font-style: italic;
    font-size: 30px;
}


textarea {
    background-color: pink;
    margin-left: 15%;
    border-radius: 20px;
    width: 300px;
}


table {
    border: 2px solid;
    font-size: larger;
    background-color: pink;
}

td {
    border: 1px solid;
}


tr {
    font-family: fantasy;
    border-right: 1px solid;
}


.button3 {
    font-size: larger;
    font-family: fantasy;
    background-color: burlywood;
    width: 150px;
    font-style: oblique;
}

.logout {
    font-size: larger;
}


.register {border: 3px solid; padding: 10px; background-color: pink;}