/* Styles for screens with a maximum width of 600px */
@media (max-width: 600px) {
    /* CSS rules for mobile devices */
}

header {
    background-color: #ffc0cb;
    font-size: 20px;
    height: fit-content;
    font-family: fantasy;
    border: 1px;
    color: white border 2px solid;
    padding: 20px;
}

footer {
    background-color: darkseagreen;
    font-size: 20px;
    font-family: fantasy;
}

body {
    background-color: #ffa07a;
    max-width: 600px;
}

label {
    background-color: #ff8c00;
    border: 2px solid;
    border-radius: 10px;
    font-size: 28px;
    font-family: fantasy;
    margin-left: 15%;
    width: 100px;
    padding: 5px;
    height: fit-content;
}

input {
    border-radius: 20px;
    background-color: pink;
    width: 300px;
    margin-left: 15%;
    height: 40px;
    font-family: fantasy;
}

nav {
    font-family: fantasy;
    margin-left: 50px;

}

a {
    border: 1px solid white;
    background-color: darkorange;
    font-size: 25px;
    padding: 10px;
    color: black;
}

hr {
    background-color: darkkhaki;
    border: 2px;
}

.button {
    background-color: darkseagreen;
    font-size: 28px;
    font-family: fantasy;
    height: fit-content;
    width: 150px;
    padding: 5px;
}

.button1 {
    background-color: darkorange;
    font-size: 28px;
    font-family: fantasy;
    height: fit-content;
    width: 150px;
    padding: 5px;
}

h1 {
    font-family: fantasy;
    margin-left: 20%;
    color: purple;
    background-color: pink;
    background-size: auto;
    width: 250px;
    font-style: italic;
    font-size: 30px;
}

h2 {
    margin-left: 28px;
    color: darkslateblue;
}

textarea {
    background-color: pink;
    margin-left: 15%;
    border-radius: 20px;
    width: 300px;
}

table {
    border: 1px solid;
    font-size: larger;
    background-color: pink;
    width: 600px;
}

td {
    border: 1px solid;
    padding: 10px;
    width: 50px;
}

tr {
    font-family: fantasy;
    border-right: 1px solid;
}

.button3 {
    font-size: larger;
    font-family: fantasy;
    background-color: burlywood;
    width: 150px;
    font-style: oblique;
}

.logout {
    font-size: 28px;
    font-family: fantasy;
    color: blueviolet;
    margin-left: 50px;
}

.register {
    border: 3px solid darkorange;
    padding: 10px;
    background-color: pink;
}

.indexmenu {
    padding: 25px;
}

.loginform {
    border: 3px solid darkorange;
    padding: 10px;
    background-color: pink;
}

.menu2 { margin-left: 30px;}

.usernamedisplay {margin-left: 220px;
font-size: 30px;}